aws-native-reference/04-benefits-caseworker/stepfunctions/04_benefits_caseworker.asl.json
{
  "Comment": "Benefits / HHS Caseworker Assist \u2014 native agent. Human gate = waitForTaskToken. (P5: OutputPath:$.body chains case context; ResultPath:$.approval carries the bound approval into Finalize; Finalize runs the write through the governed gateway.) Retrieve runs a governed kb.search_policy read (RAG) before Draft.",
  "StartAt": "Classify",
  "States": {
    "Classify": {
      "Type": "Task",
      "Resource": "${ClassifyFn}",
      "Next": "Retrieve",
      "OutputPath": "$.body",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "Retrieve": {
      "Type": "Task",
      "Resource": "${RetrieveFn}",
      "OutputPath": "$.body",
      "Next": "Draft",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "Draft": {
      "Type": "Task",
      "Resource": "${DraftFn}",
      "Next": "Check",
      "OutputPath": "$.body",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "Check": {
      "Type": "Task",
      "Resource": "${CheckFn}",
      "Next": "HumanGate",
      "OutputPath": "$.body",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "HumanGate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${HitlNotifyFn}",
        "Payload": {
          "input.$": "$",
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "Finalize",
      "ResultPath": "$.approval",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 1209600
    },
    "Finalize": {
      "Type": "Task",
      "Resource": "${FinalizeFn}",
      "End": true,
      "OutputPath": "$.body",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "TimeoutSeconds": 300
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "A workflow task failed after retries; the execution is terminated deterministically. See execution history and the audit trail."
    }
  }
}
