aws-native-reference/04-benefits-caseworker/stepfunctions/04_benefits_caseworker.asl.json
{
  "Comment": "Benefits / HHS Caseworker Assist \u2014 native agent. Human gate = waitForTaskToken. (P5: OutputPath:$.body chains case context; ResultPath:$.approval carries the bound approval into Finalize; Finalize runs the write through the governed gateway.)",
  "StartAt": "Classify",
  "States": {
    "Classify": {
      "Type": "Task",
      "Resource": "${ClassifyFn}",
      "Next": "Draft",
      "OutputPath": "$.body"
    },
    "Draft": {
      "Type": "Task",
      "Resource": "${DraftFn}",
      "Next": "Check",
      "OutputPath": "$.body"
    },
    "Check": {
      "Type": "Task",
      "Resource": "${CheckFn}",
      "Next": "HumanGate",
      "OutputPath": "$.body"
    },
    "HumanGate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${HitlNotifyFn}",
        "Payload": {
          "input.$": "$",
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "Finalize",
      "ResultPath": "$.approval"
    },
    "Finalize": {
      "Type": "Task",
      "Resource": "${FinalizeFn}",
      "End": true,
      "OutputPath": "$.body"
    }
  }
}