aws-native-reference/05-public-records-foia/stepfunctions/05_public_records_foia.asl.json
{
  "Comment": "Public Records / FOIA & Redaction \u2014 native agent. Human gate = waitForTaskToken. (P5: OutputPath:$.body chains case context; ResultPath:$.approval carries the bound approval into Finalize; Finalize runs the write through the governed gateway.) Retrieve runs a governed kb.search_policy read (RAG) before Draft.",
  "StartAt": "Classify",
  "States": {
    "Classify": {
      "Type": "Task",
      "Resource": "${ClassifyFn}",
      "Next": "Retrieve",
      "OutputPath": "$.body"
    },
    "Retrieve": {
      "Type": "Task",
      "Resource": "${RetrieveFn}",
      "OutputPath": "$.body",
      "Next": "Draft"
    },
    "Draft": {
      "Type": "Task",
      "Resource": "${DraftFn}",
      "Next": "Check",
      "OutputPath": "$.body"
    },
    "Check": {
      "Type": "Task",
      "Resource": "${CheckFn}",
      "Next": "HumanGate",
      "OutputPath": "$.body"
    },
    "HumanGate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${HitlNotifyFn}",
        "Payload": {
          "input.$": "$",
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "Finalize",
      "ResultPath": "$.approval"
    },
    "Finalize": {
      "Type": "Task",
      "Resource": "${FinalizeFn}",
      "End": true,
      "OutputPath": "$.body"
    }
  }
}